[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cliff = "*"
pbr = "*"
python-dateutil = "*"
python-dotenv = "*"
requests = "*"
six = "*"
agavepy = "*"
datacatalog = {git = "https://github.com/SD2E/python-datacatalog.git",ref = "2_0"}
bacanora = {git = "https://github.com/SD2E/bacanora.git"}

[requires]
python_version = "3.6"
