cliff
pbr
python-dateutil
python-dotenv
requests
six
agavepy
-e git+https://github.com/SD2E/python-datacatalog.git@2_1#egg=datacatalog
-e git+https://github.com/SD2E/bacanora.git@master#egg=bacanora
dateparser
